Classification and Regression Trees // ML Practice
----

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Training a Basic Classification Tree on Tumor Data
----
Train a classification tree to predict whether a tumor is malignant or benign using two features: radius_mean and concave points_mean. The data is already split into training and testing sets, with X_train and y_train used for training, and X_test and y_test reserved for evaluation. Use a fixed random seed (SEED = 1) to ensure reproducibility. Fit the decision tree classifier to the training data and prepare it for evaluation on the test set.

Prepping Dataset

In [16]:
cancer_df = pd.read_csv(r"C:\Users\Emigb\Documents\Data Science\datasets\wbc.csv")
cancer_df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [17]:
cancer_data = cancer_df[['diagnosis', 'radius_mean', 'concave points_mean']]
cancer_data.head()

  diagnosis  radius_mean  concave points_mean
0         M        17.99              0.14710
1         M        20.57              0.07017
2         M        19.69              0.12790
3         M        11.42              0.10520
4         M        20.29              0.10430

In [18]:
cancer_dum = pd.get_dummies(cancer_data['diagnosis'], drop_first=True).astype(int)
cancer_dec = pd.concat([cancer_data, cancer_dum], axis=1)
cancer_dec.head()

  diagnosis  radius_mean  concave points_mean  M
0         M        17.99              0.14710  1
1         M        20.57              0.07017  1
2         M        19.69              0.12790  1
3         M        11.42              0.10520  1
4         M        20.29              0.10430  1

In [21]:
cancer_dec.drop('diagnosis', axis=1, inplace=True)
cancer_dec.head()

   radius_mean  concave points_mean  M
0        17.99              0.14710  1
1        20.57              0.07017  1
2        19.69              0.12790  1
3        11.42              0.10520  1
4        20.29              0.10430  1

In [24]:
X = cancer_dec.drop('M', axis=1).values
y = cancer_dec['M'].values

print(X.shape)
print(y.shape)

(569, 2)
(569,)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state=21, stratify = y)